@media (max-width: 768px) {
  .slicer .carousel-inner .carousel-item > div {
    display: none;
  }
  .slicer .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.slicer .carousel-inner .carousel-item.active,
.slicer .carousel-inner .carousel-item-next,
.slicer .carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .slicer .carousel-inner .carousel-item-right.active,
  .slicer .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .slicer .carousel-inner .carousel-item-left.active,
  .slicer .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.slicer .carousel-inner .carousel-item-right,
.slicer .carousel-inner .carousel-item-left {
  transform: translateX(0);
}
