.projects-container {
  width: 100%;
  height: 100vh;
  background-color: #22395d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-card {
  background-color: white;
  width: 80%;
  height: 95%;
  border-radius: 5px;
  padding-top: 30px;
}
